{{define "title"}}Tasks{{end}}
{{define "body"}}
    <!--suppress HtmlUnknownTarget -->
    <div class="section">
        <div class="container">
            <table class="table">
                <thead class="has-background-info">
                <tr>
                    <th>ID</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Done percentage</th>
                    <th>Params</th>
                    <th>Results</th>
                    <th>WorkerID</th>
                </tr>
                </thead>
                <tbody>
                {{range $task := .Tasks}}
                    {{ with $task}}
                        <tr>
                            <th>{{.ID}}</th>
                            <th>{{.CreatedAt}}</th>
                            <th>{{.UpdatedAt}}</th>
                            <th>{{.DonePercentage}}</th>
                            <th>{{.Params}}</th>
                            <th>{{.Result}}</th>
                            <th>{{.WorkerID}}</th>
                        </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}